* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #ffffff;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 30px;
}

.logo h1 {
    color: #363232;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* better than padding-right for spacing */
    padding: 0; /* remove default padding */
}

.nav-links a {
    color: #363232;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: helvetica, sans-serif;
}

.nav-links a:hover {
    color: #ff3bc4;
    transition: color 0.3s ease;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: #ff3bc4;
    transition: color 0.3s ease;
    cursor: pointer;
}

.first-container {
    background-color: #eaeaea;
    height: 600px;
    display: flex;
    align-items: center; /* vertical center */
}

/* container for text */
.first-child {
    display: flex;
    flex-direction: column; /* stack elements vertically */
    gap: 20px; /* space between elements */
    max-width: 800px;
    margin-left: 20px;
}

/* pink tag */
.kids-fashion {
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #ff3bc4;
    border-radius: 20px;
    padding: 5px 15px;
    display: inline-block;
    width: fit-content;
}

/* heading */
.first-child h1 {
    font-size: 55px;
    font-family: Helvetica, sans-serif;
    color: #111827;
}

/* description */
.description {
    font-size: 20px;
    color: #334155;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.buttons-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.first-button {
    background-color: #ff3bc4;
    color: white; 
    font-size: 15px;
    border-radius: 10px;
    padding: 13px 15px 13px 15px;
    border-color: #ff3bc4;
    cursor: pointer;
}

.first-button:hover {
    background-color: rgb(254, 32, 169);
    transition: color 0.3s ease;
}

.second-button {
    background-color: #ff3bc4;
    color: white; 
    font-size: 15px;
    border-radius: 10px;
    padding: 13px 15px 13px 15px;
    border-color: #ff3bc4;
    cursor: pointer;
}

.second-button:hover {
    background-color: rgb(254, 32, 169);
    transition: color 0.3s ease;
}


.model-image {
    position: relative;
}

.model-image img {
    height: 500px;
    width:500px;
    margin-left: 120px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(112, 110, 110, 0.7); /* shadow all around */
}

.sale-price {
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(236, 236, 8);
    color: black;
    width: 200px;
    height: 99px;
    border-radius: 20px;
    font-family: Helvetica, sans-serif;
    line-height: 25px;
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 20px;
    
}

.up-to {
    font-size: 15px;
    margin-right: 85px; 
    margin-top: 25px;
   
}

.discount {
    font-size: 30px;
}